In [1]:
# 패키지 준비
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# matplotlib에서 한글 폰트를 사용하는 설정

%matplotlib inline

import platform

if platform.system() == 'Darwin':
    mpl.rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = mpl.font_manager.FontProperties(fname=path).get_name()
    mpl.rc('font', family=font_name)
else:
    print('Unknown system...')

In [6]:
# 데이터 준비
crime_in_seoul = pd.read_csv('data-files/crime-in-seoul-include-gu-name.csv', encoding='utf-8')
crime_in_seoul.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [14]:
# 구별 컬럼을 인덱스로 해서 DataFrame 재구성
crime_in_seoul_by_gu = pd.pivot_table(crime_in_seoul, index='구별', aggfunc=np.sum)

In [15]:
crime_in_seoul_by_gu.head()

     강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구    349    449     18     21     10     13   1650   3850   3705   4284
강동구    123    156      8      6      3      4    789   2366   2248   2712
강북구    126    153     13     14      8      7    618   1434   2348   2649
관악구    221    320     14     12      8      9    827   2706   2642   3298
광진구    220    240     26     14      4      4   1277   3026   2180   2625

In [16]:
# 검거 컬럼 제거 -> 검거율 컬럼 생성
crime_in_seoul_by_gu['강간검거율'] = crime_in_seoul_by_gu['강간 검거'] / crime_in_seoul_by_gu['강간 발생'] * 100
crime_in_seoul_by_gu['강도검거율'] = crime_in_seoul_by_gu['강도 검거'] / crime_in_seoul_by_gu['강도 발생'] * 100
crime_in_seoul_by_gu['살인검거율'] = crime_in_seoul_by_gu['살인 검거'] / crime_in_seoul_by_gu['살인 발생'] * 100
crime_in_seoul_by_gu['절도검거율'] = crime_in_seoul_by_gu['절도 검거'] / crime_in_seoul_by_gu['절도 발생'] * 100
crime_in_seoul_by_gu['폭력검거율'] = crime_in_seoul_by_gu['폭력 검거'] / crime_in_seoul_by_gu['폭력 발생'] * 100

crime_in_seoul_by_gu.drop(['강간 검거', '강도 검거', '살인 검거', '절도 검거', '폭력 검거'], axis=1, inplace=True)

crime_in_seoul_by_gu.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157
광진구,240,14,4,3026,2625,91.666667,185.714286,100.000000,42.200925,83.047619